<div class="row" *ngIf="!carroSelecionado">
    <div style="margin-left: 30px; max-width: 1450px;" >
        <app-titulo [titulo]="'Carros'"></app-titulo>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Ano</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Carro of carro" 
                style="cursor: pointer;" (click)="carroSelect(Carro)" ><!--Função click carro seleciona um carro-->
                    <th scope="row">{{Carro.id}}</th>
                    <td>{{Carro.marca}}</td>
                    <td>{{Carro.modelo}}</td>
                    <td>{{Carro.placa}}</td>
                    <td>{{Carro.ano}}</td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>
<!--*ngIf vai carregar todas as variaveis dentro do array carro-->
<div class="row" *ngIf="carroSelecionado">

    <div class="col-sm-6" *ngIf="carroSelecionado">
        <app-titulo [titulo]="'Cliente: '+ carroSelecionado "></app-titulo><!--app titulo Está classe vai carregar os titulos na view-->
            <form action="" [formGroup]="carroForm">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label" style="margin-left: 30px;"> Marca do veículo</label>
                    <input type="text"  value="{{carroMarca}}" class="form-control" style="margin-left: 30px; max-width: 180px;" >
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label" style="margin-left: 30px;"> Modelo do veículo</label>
                    <input type="text" value="{{carroModelo}}" class="form-control" style="margin-left: 30px; max-width: 220px;" >
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label" style="margin-left: 30px;"> Placa do veículo</label>
                    <input type="text"  value="{{carroPlaca}}" class="form-control" style="margin-left: 30px; max-width: 100px;" >
                </div>
                <div class="mb-3">
                    <label type="ano" for="formGroupExampleInput" class="form-label" style="margin-left: 30px;"> Ano do veículo</label>
                    <input type="text" value="{{carroAno}}" class="form-control" style="margin-left: 30px; max-width: 70px;" >
                </div>
            </form>    
            <button class="btn btn-warning" (click)="voltar()"style="margin-left: 30px;">voltar</button>
            <button class="btn btn-sucess" style="background-color: rgba(45, 27, 112, 0.493); margin-left: 10px;">Enviar</button>
    </div>
    <div class="col-sm-6">
        <app-titulo [titulo]="'Carros'"></app-titulo>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Ano</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Carro of carro" 
                style="cursor: pointer;" (click)="carroSelect(Carro)" ><!--Função click carro seleciona um carro-->
                    <th scope="row">{{Carro.id}}</th>
                    <td>{{Carro.marca}}</td>
                    <td>{{Carro.modelo}}</td>
                    <td>{{Carro.placa}}</td>
                    <td>{{Carro.ano}}</td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>
